@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');

html, body{
    height: 100%;
}
*{
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', Arial, sans-serif;
    background: #17191C;
    color: #FFF;
    font-size: 14px;
    line-height: 1.42;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
}

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
    min-width: 1200px;
    opacity: 0;
    animation: pageSlide 1s forwards;
}
@keyframes pageSlide{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.section{
    padding-bottom: 185px;
    position: relative;
}
.section--last{
    padding-bottom: 54px;
}
.section__title{
    font-size: 36px;
    font-weight: 800;
    line-height: 1.1;
    margin-bottom: 50px;
    text-transform: uppercase;
}
.container{
    margin: 0 auto;
    width: 1140px;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
    font-weight: normal;
}
p{
    margin-top: 0;
}
ul{
    padding: 0;
    margin: 0;
}
ul li{
    list-style: none;
    
}
img{
    display: block;
    max-width: 100%;
}
a{
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    font-style: normal;
    
}
button{
    border: none;
    cursor: pointer;
}
address{
    font-style: normal;
}

.btn{
    text-transform: uppercase;
    padding: 18px 54px;
    font-weight: 700;
    border-radius: 35px;
    transition: background .3s;
    display: inline-flex;
}
.btn--color--orange{
    background: #FF5500;
    color: #FFF;
}
.btn--color--orange:hover{
    background: #FF3D00;
}

.btn--border--orange{
    border: 2px solid #FF5500;
    color: #FF5500;
    transition: border .5s, color .5s, background .5s;
}
.btn--border--orange:hover{
    background: #FF5500;
    color: #FFF;
}

.inner__section{
    color: #1A1B1E;
    padding: 75px 0;
}
.inner__section--bg--grey{
    background: #F4F5F5;
}