.separator{
    background: #373737 url('../../../img/reviews/party.png') right 18% center no-repeat;
    min-height: 363px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.separator__content{
    max-width: 48%;
}
.separator__title{
    font-size: 48px;
    font-weight: 700;
    line-height: 1.3;
}
.separator__title--decoration{
    color: #FF5400;
}