.services__list{
    display: flex;
    justify-content: space-between;
}
.services__item{
    width: calc(100% / 3 -18px);
    margin-right: 25px;
}
.services__item:last-child{
    margin-right: 0;
}
.service{
    min-height: 470px;
    background: #FFF;
    color: #666;
    border-radius: 5px;
    padding: 35px 34px 53px 22px;
    flex: 1;
    
}
.service:hover{
    outline: 5px solid #CCC;
    outline-offset: -5px;
}
.service__header{
    margin-bottom: 25px;
}
.service__content{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.service__title{
    color: #000;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 15px;
}
.service__info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 19px;
}
.service__info-content{
    font-size: 16px;
    width: 43.4%;
}
.service__info-content b{
    color: #000;
    font-weight: 700;
}
.service__desc{
    font-size: 14px;
    margin-bottom: 10px;
}
.service__btn-wrapper{
    display: flex;
    margin-top: auto;
}